# evironment of application (prod, dev)
APP_ENV=dev

# build a unique secret key with cli : openssl rand -base64 48
SECRET=B3cm2Ehjk72bhEeAX1VSA3Um3ZfRvafNEQBzXmoKjicNQHLvSfaRMAsmGkXG8/52

# database parameters
DATABASE_USER=postgres
DATABASE_PASSWORD=mysecretpassword
DATABASE_NAME=papier

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:mysecretpassword@postgres:5432/papier"